q3/schema/colors.rnc

datatypes xsd="http://www.w3.org/2001/XMLSchema-datatypes"

element colors {
	element colorSet {
		element color {
			## 色（RRGGBB形式）
			xsd:string {
				pattern = "[0-9a-fA-F]{6}"
			},
			## 色が適用される条件（マクロ）
			attribute match {
				xsd:string
			}
		}*,
		## アカウント（正規表現）
		## 指定されない場合、全てのアカウント
		attribute account {
			xsd:string
		}?,
		## フォルダ（正規表現）
		## 指定されない場合、全てのフォルダ
		attribute folder {
			xsd:string
		}?
	}*
}
