q3/schema/signature.rnc

element signatures {
	element signature {
		## シグニチャ
		xsd:string,
		## 名前
		attribute name {
			xsd:string
		},
		## このシグニチャを使用するアカウント
		## 指定されない場合、全てのアカウント
		attribute account {
			xsd:string
		}?,
		## デフォルトになるかどうか
		## 指定されない場合、false
		attribute default {
			xsd:boolean
		}?
	}*
}
